@using Store
@model Jewelry

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>
<p><strong>@Model.Material</strong></p>
<p>@Model.Description</p>
<p>Цена <strong>@Model.Price</strong></p>
